<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Letter</title>
</head>
<body>
    <% include nav.html.ejs %>
    <h1>Your Letter</h1>
    <p>From:&nbsp<%= letters.name %></p>
    <p>Date:&nbsp<%= letters.date %></p>
    <p>Address:&nbsp<%= letters.address %></p>
    <p>Letter:&nbsp<%= letters.letter %></p>
    
</body>
</html>